<script>
    $(document).ready(function () {
        var filename = '';
        var personel = '';
        var date = '';
        var dataTable;
        var dataTable2;
        let requestdate = '';
        let requestby = '';

        EquipmentRequestLoadTables();
        
        LoadRequestList();
        function LoadRequestList() {
            $.ajax({
                type: "GET",
                url: "/equipment/getitemrequest",
                success: function (result) {
                    console.log(result);
                    document.getElementById('itequipmentrequest').textContent = result.data;
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            $.ajax({
                type: "GET",
                url: "/equipment/gettransferrequest",
                success: function (result) {
                    console.log(result);
                    document.getElementById('equipmentrequesttransfer').textContent = result.data;
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            $.ajax({
                type: "GET",
                url: "/cabling/materialcablingrequest",
                success: function (result) {
                    console.log(result);
                    document.getElementById('cablingequipmentrequest').textContent = result.data;
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        }

        function EquipmentRequestLoadTables() {
            showloader();

            //#region IT EQUIPMENT REQUEST
            dataTable = $('#equipment-item-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/requestequipment/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;
                        var details = '';
                        var createddate = '';
                        var status = '';
                        var personel = '';

                        // console.log(data);
                        $.each(data, (key, item) => {
                            console.log(`${item.requestby} ${item.requestdate} ${item.status}`);
                            personel = item.requestby;
                            createddate = item.requestdate;
                            status = item.status;

                            var datajson = JSON.parse(item.details)
                            $.each(datajson, (key, item) => {
                                console.log(`${item.store} ${item.ticket} ${item.brandname} ${item.itemtype} ${item.quantity} ${item.remarks}`);
                                details += `TICKET:${item.ticket}   STORE: ${item.store}    BRANDNAME:${item.brandname} ITEMTPE:${item.itemtype}    QUANTITY:${item.quantity}   REMARKS:${item.remarks}<br/>`;
                            })

                            if (status == "PND") {
                                action = '<button class="assign-btn" id="assignBtn" name="assignBtn">ASSIGN SERIAL</button>'
                            }
                            if (status == 'FAPR') {
                                action = '<button class="approve-btn" id="approvedBtn" name="approvedBtn">APPROVED</button><br><button class="edit-btn" id="editBtn" name="editBtn">EDIT</button>'
                            }

                            if (status == 'ALLOC') {
                                action = '<button class="approve-btn" id="deploybtn" name="deploybtn">DEPLOY</button><br><button class="edit-btn" id="printRequestBtn" name="printRequestBtn">PRINT</button>'
                            }

                            finalData.push({
                                personel: personel,
                                details: details,
                                createddate: createddate,
                                status: item.remarks,
                                action: action
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'createddate' },
                    { data: 'personel' },
                    { data: 'details' },
                    { data: 'status' },
                    { data: 'action' }
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region EQUIPMENT TRANSFER REQUEST
            dataTable2 = $('#transfer-equipment-item-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/transfer/load',
                    'dataSrc': (result) => {
                        var finalData = [];
                        var data = result.data;
                        var details = '';

                        $.each(data, (key, item) => {
                            let datajson = JSON.parse(item.details);

                            $.each(datajson, (key, item) => {
                                details += `BRAND: ${item.brand} TYPE: ${item.itemtype} SERIAL: ${item.serial}<br>`;
                            })

                            finalData.push({
                                detailid: item.detailid,
                                date: item.prepareddate,
                                personel: item.preparedby,
                                details: details,
                                locationfrom: item.locationfrom,
                                locationto: item.locationto,
                                remarks: item.remarks,
                                status: item.status,
                                action: action = `<button class="approve-btn" id="approveTransferBtn" name="approveTransferBtn">APPROVED</button><button class="edit-btn" id="transferPrinttBtn" name="transferPrinttBtn">PRINT</button>`
                            });
                        })

                        return finalData;
                    }
                },
                'columnDefs': [{
                    targets: 2,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'detailid' },
                    { data: 'date' },
                    { data: 'personel' },
                    { data: 'details' },
                    { data: 'locationfrom' },
                    { data: 'locationto' },
                    { data: 'remarks' },
                    { data: 'status' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region CABLING EQUIPMENT REQUEST
            dataTable3 = $('#cabling-equipment-item-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/cablingrequest/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;
                        var details = '';
                        var createddate = '';
                        var status = '';
                        var requestor = '';
                        var remarks = '';
                        var requestid = '';

                        console.log(data);
                        $.each(data, (key, item) => {
                            requestor = item.personel;
                            createddate = item.requestdate;
                            status = item.status;
                            remarks = item.remarks;
                            requestid = item.requestid;

                            var detailsJson = JSON.parse(item.details);
                            // console.log(item.details);
                            $.each(detailsJson, (key, item) => {
                                console.log(`BRAND: ${item.brandname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}`);
                                details += `BRAND: ${item.brandname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}<br/>`;
                            })

                            finalData.push({
                                requestid: requestid,
                                date: createddate,
                                personel: requestor,
                                details: details,
                                remarks: remarks,
                                status: status,
                                action: action = `<button class="approve-btn" id="approveBtn-cabling" name="approveBtn-cabling">APPROVED</button><button class="edit-btn" id="PrinttBtn-cabling" name="PrinttBtn-cabling">PRINT</button>`
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 2,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'requestid' },
                    { data: 'date' },
                    { data: 'personel' },
                    { data: 'details' },
                    { data: 'remarks' },
                    { data: 'status' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region IT EQUIPMENT STOCK TABLE
            dataTableITEquipment = $('#IT-Equipment_Tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/equipment/GetEquipmentSummary'
                },
                'columns': [
                    { data: 'itemtype' },
                    { data: 'itemcount' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region EQUIPMENT CABLING STOCK TABLE
            dataTableITEquipment = $('#Cabling-Equipment_Tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/cabling/GetCablingEquipmentSummary'
                },
                'columns': [
                    { data: 'itemtype' },
                    { data: 'itemcount' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region NEED TO RESTOCK
            needrestocktbl = $('#restockstble').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/cablingitemmaster/getmincount'
                },
                'columns': [
                    { data: 'brandname' },
                    { data: 'itemtype' },
                    { data: 'itemcount' },
                    { data: 'minstocks' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion
        }

        var modal = document.getElementById("requestModal");
        var modaltransfer = document.getElementById("transferModal");
        var modalcabling = document.getElementById("cablingRequestModal");
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementById("transfermodalclose");
        var span3 = document.getElementById("cablingmodalclose");

        var modalrequestprint = document.getElementById("requestPringModal");
        var requestprintspan = document.getElementById("requestprintspan");

        var deploymodal = document.getElementById("deployModal");
        var deployspan = document.getElementById("deployspan");

        span.onclick = function () {
            modal.style.display = "none";
        }

        span2.onclick = function () {
            modaltransfer.style.display = "none";
        }

        span3.onclick = function () {
            modalcabling.style.display = "none";
        }

        deployspan.onclick = function () {
            deploymodal.style.display = "none";
        }

        requestprintspan.onclick = function () {
            modalrequestprint.style.display = "none";
        }


        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if (event.target == modaltransfer) {
                modaltransfer.style.display = "none";
            }
            if (event.target == modalcabling) {
                modalcabling.style.display = "none";
            }
            if (event.target == modalrequestprint) {
                modalrequestprint.style.display = "none";
            }
            if (event.target == deploymodal) {
                deploymodal.style.display = "none";
            }
        }

        let transfer_ID = '';
        let transfer_DATE = '';
        let transfer_PERSONEL = '';
        let transfer_SITE = '';
        $('#transfer-equipment-item-tbl tbody').on('click', 'tr', function () {
            var data = [];
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);
            })

            transfer_ID = data[0];
            transfer_DATE = data[1];
            transfer_PERSONEL = data[2];
            transfer_SITE = data[5];

        })

        $('#cabling-equipment-item-tbl').on('click', 'td', function () {
            var data = dataTable3.row(this).data();
            let date = data.date;
            const dateArr = date.split(" ");
            filename = `${dateArr[0]}_${data.personel}.json`;


        })

        $('#equipment-item-tbl tbody').on('click', 'tr', function () {

            var data = dataTable.row(this).data();
            filename = `${data.personel}_${data.createddate}.json`;
            personel = data.personel;
            date = data.createddate;

            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push([$(this).text()]);

            });

            requestdate = dataRow[0];
            requestby = dataRow[1];

            console.log(dataRow);

        })

        $('#requesttbl tbody').on('click', 'tr', function (e) {
            e.preventDefault();

            if ($(this).attr('edit_type') == 'button') {
                return false;
            }

            //make div editable
            $(this).closest('div').attr('contenteditable', 'true');
            //add bg css
            $(this).addClass('edit-cost').css('padding', '5px');

            $(this).focus();
        });

        $('#deployitemlist tbody').on('click', 'tr', function (e) {
            e.preventDefault();

            if ($(this).attr('edit_type') == 'button') {
                return false;
            }

            //make div editable
            $(this).closest('div').attr('contenteditable', 'true');
            //add bg css
            $(this).addClass('edit-cost').css('padding', '5px');

            $(this).focus();
        });

        $('#requestModal').on('hidden.bs.modal', function (e) {
            EquipmentRequestLoadTables();
        });

        $(document).on('click', "#printRequestBtn", function () {
            var requestitemTabel = $('#print-requesttbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/requestequipment/getdetails",
                data: {
                    requestby: requestby,
                    requestdate: requestdate,
                },
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        document.getElementById('requestid').innerText = item.requestid;
                        document.getElementById('requestdate').innerText = item.requestdate;
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            $.ajax({
                type: "POST",
                url: "/requestequipment/getassign",
                data: {
                    requestby: requestby,
                    requestdate: requestdate,
                },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    console.log(data);
                    $.each(data, (key, item) => {
                        requestitemTabel.row.add([item.ticket, item.store, item.brandname, item.itemtype, item.serial]).draw(false);
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });


            document.getElementById('officersig').innerText = '<%= fullname%>';
            document.getElementById('datesig').innerText = '<%= date%>';
            document.getElementById('requestbysig').innerText = personel;
            document.getElementById('requestdatesig').innerText = date;
            document.getElementById('checkersig').innerText = '<%= checker%>';
            document.getElementById('checkdatesig').innerText = date;

            modalrequestprint.style.display = 'block';
        })

        $(document).on('click', "#deploybtn", function () {
            var requestlistTabel = $('#deployitemlist').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            //request list
            $.ajax({
                type: "POST",
                url: "/requestequipment/getassign",
                data: {
                    requestby: requestby,
                    requestdate: requestdate
                },
                success: function (result) {
                    requestlistTabel.clear().draw();
                    var data = result.data;

                    console.log(result.data);

                    $.each(data, function (key, item) {
                        requestlistTabel.row.add([item.ticket, item.store, item.brandname, item.itemtype, item.serial, '', '', '', '', '']).draw(false);
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            deploymodal.style.display = "block";
        })

        $(document).on('click', "#deployitemBtn", function () {
            console.log('clicked!');
            var data = $('#deployitemlist tr');
            var dataRaw = [];
            console.log(data);
            console.log(data.length);
            var message = '';

            var status = '';
            for (x = 1; x < data.length; x++) {
                console.log(data[x].innerText);
                var innerData = data[x].innerText;
                innerData = innerData.split("\t");

                if (innerData[5] == "") {

                    status = 'RETURNED';
                } else {
                    status = 'DEPLOYED';
                }

                dataRaw.push({
                    ticket: innerData[0],
                    store: innerData[1],
                    brandname: innerData[2],
                    itemtype: innerData[3],
                    serial: innerData[4],
                    trf: innerData[5],
                    pulloutbrand: innerData[6],
                    pulloutitemtype: innerData[7],
                    pulloutserial: innerData[8],
                    apo: innerData[9],
                    status: status,
                });

            }

            dataRaw = JSON.stringify(dataRaw, null, 2);
            console.log(dataRaw);

            $.ajax({
                type: "POST",
                url: "/requestequipment/deployitem",
                data: {
                    requestby: requestby,
                    requestdate: requestdate,
                    data: dataRaw
                },
                success: function (result) {
                    success('Saved', 'Data Saved!');
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            // if (message != "") {
            //     warning(`TICKET/S: ${message} no serial assigned!`)
            // } else {

            // }


            EquipmentRequestLoadTables();
            deploymodal.style.display = "none";
        })

        $(document).on('click', "#returnBtn", function () {

        })

        $(document).on('click', "#printEquipmentRequestBtn", function () {
            console.log('clicked!');
            var printContents = document.getElementById('PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })

        $(document).on('click', "#saveBtn", async function () {
            console.log('clicked!');
            var data = $('#requesttbl tr');
            var dataRaw = [];
            console.log(data);
            console.log(data.length);
            var message = '';

            var index = 1;
            for (x = 1; x < data.length; x++) {
                console.log(data[x].innerText);
                var innerData = data[x].innerText;
                innerData = innerData.split("\t");

                if (innerData[4] == "") {
                    message += `${innerData[0]}, `;
                } else {
                    dataRaw.push({
                        ticket: innerData[0],
                        store: innerData[1],
                        brandname: innerData[2],
                        itemtype: innerData[3],
                        serial: innerData[4],
                        status: 'ALLOCATE',
                        index: index,
                    });

                    index += 1;
                }

            }

            if (message != "") {
                warning(`TICKET/S: ${message} no serial assigned!`)
            } else {
                console.log(personel, date, dataRaw);
                dataRaw = JSON.stringify(dataRaw, null, 2);
                await assignequipemnt(personel, date, dataRaw)
            }
        });

        function assignequipemnt(personel, date, data) {
            console.log(`${personel} ${date} ${data}`);
            $.ajax({
                type: "POST",
                url: "/requestequipment/assign",
                data: {
                    personel: personel,
                    date: date,
                    data: data
                },
                success: function (result) {
                    success('Saved!', 'Data saved!')
                    EquipmentRequestLoadTables();
                },
                error: function (result) {
                    error(result.data);
                }
            });
        }

        $(document).on('click', "#approvedBtn", async function () {
            console.log('hit');
            showloader();
            $.ajax({
                type: "POST",
                url: "/requestequipment/approve",
                data: {
                    requestby: requestby,
                    requestdate: requestdate,
                },
                success: function (result) {
                    success('Approved!', 'Request approved!')
                    EquipmentRequestLoadTables();
                    hideload();
                },
                error: function (result) {
                    error(result.data);
                }
            });
        });

        $(document).on('click', "#assignBtn", async function () {
            var requestlistTabel = $('#requestlist').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            var requestitemTabel = $('#requesttbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });
            var index = [];
            //request list
            $.ajax({
                type: "POST",
                url: "/requestequipment/getdetails",
                data: {
                    requestby: requestby,
                    requestdate: requestdate
                },
                success: function (result) {
                    requestlistTabel.clear().draw();
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    console.log(result.data);

                    $.each(data, function (key, item) {
                        var datajson = item.details;

                        console.log(datajson);
                        datajson = JSON.parse(datajson);
                        $.each(datajson, function (key, value) {
                            requestlistTabel.row.add([value.ticket, value.itemtype, value.quantity]).draw(false);

                            var quantity = parseFloat(value.quantity);

                            for (x = 0; x < quantity; x++) {
                                requestitemTabel.row.add([value.ticket, value.store, value.brandname, value.itemtype, '']).draw(false);
                            }
                        })
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            modal.style.display = "block";

        });

        $(document).on('click', "#editBtn", async function () {

            var requestlistTabel = $('#requestlist').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            var requestitemTabel = $('#requesttbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });



            $.ajax({
                type: "POST",
                url: "/requestequipment/getdetails",
                data: {
                    requestby: requestby,
                    requestdate: requestdate
                },
                success: function (result) {
                    requestlistTabel.clear().draw();
                    var data = result.data;

                    console.log(result.data);

                    $.each(data, function (key, item) {
                        var datajson = item.details;

                        console.log(datajson);
                        datajson = JSON.parse(datajson);
                        $.each(datajson, function (key, value) {
                            requestlistTabel.row.add([value.ticket, value.itemtype, value.quantity]).draw(false);
                        })
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            $.ajax({
                type: "POST",
                url: "/requestequipment/getassign",
                data: {
                    requestby: requestby,
                    requestdate: requestdate,
                },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    $.each(data, (key, item) => {

                        requestitemTabel.row.add([item.ticket, item.store, item.brandname, item.itemtype, item.serial]).draw(false);
                    })
                },
                error: function (result) {
                    error('error: ' + result.data);
                }
            });

            modal.style.display = "block";
        });

        $(document).on('click', "#transferPrinttBtn", async function () {

            var t = $('#modalTransferItems').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/transfer/gettransferdetails",
                data: {
                    id: transfer_ID
                },
                success: function (result) {
                    var data = result.data;
                    console.log(result.data);
                    t.clear().draw();

                    $.each(data, function (key, item) {
                        t.row.add([item.itembrand, item.itemtype, item.serial]).draw(false);
                    })
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            modaltransfer.style.display = "block";
        })

        $(document).on('click', "#printBtn", function () {
            console.log('clicked!');
            var printContents = document.getElementById('transfer-PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })

        $(document).on('click', "#approveTransferBtn", function () {
            $.ajax({
                type: "POST",
                url: "/transfer/transferitems ",
                data: {
                    id: transfer_ID,
                    date: transfer_DATE,
                    preparedby: transfer_PERSONEL,
                    site: transfer_SITE,
                },
                success: function (result) {
                    success('Approved!', 'Transfer approved!')
                    EquipmentRequestLoadTables();
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        });

        $(document).on('click', "#approveBtn-cabling", function () {
            $.ajax({
                type: "POST",
                url: "/cablingrequest/approve",
                data: {
                    filename: filename
                },
                success: function (result) {
                    success('Approved!', 'Request approved!')
                    LoadRequestList();
                    EquipmentRequestLoadTables();
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        })

        let cabling_requestid = '';
        let cabling_requestdate = '';
        let cabling_requestby = '';
        let cabling_details = '';
        let cabling_remarks = '';
        let cabling_status = '';
        $('#cabling-equipment-item-tbl tbody').on('click', 'tr', function (e) {
            var data = [];
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);
            });

            console.log(data);

            cabling_requestid = data[0];
            cabling_requestdate = data[1];
            cabling_requestby = data[2];
            cabling_details = data[3];
            cabling_remarks = data[4];
            cabling_status = data[5];

        })

        $(document).on('click', "#PrinttBtn-cabling", function () {

            var t = $('#modalCablingItems').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/cablingrequest/getcablingrequestdetail",
                data: {
                    filename: filename
                },
                success: function (result) {
                    t.clear().draw();
                    $.each(result.data, function (key, item) {
                        // let cost = parseFloat(item.itemcost);
                        // let count = parseFloat(item.itemcount);
                        // let total = cost * count;

                        t.row.add([item.brandname, item.itemtype, item.itemcount]).draw(false);
                    })

                    document.getElementById('requestby').innerText = cabling_requestby;
                    document.getElementById('approvedby').innerText = '<%= fullname%>';
                    document.getElementById('requestcablingdatesig').innerText = cabling_requestdate;
                    document.getElementById('approveddatesig').innerText = '<%= datetime%>';
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            modalcabling.style.display = "block";
        })

        $(document).on('click', "#cabling-printBtn", function () {
            console.log('clicked!');
            var printContents = document.getElementById('cabling-PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })
    })
</script>